In [1]:
print 'Hello dear'

Hello dear

In [2]:
s = 'hello'
print 'say %s' %(s)

say hello

In [3]:
from __future__ import print_function

In [4]:
print('hello')

hello

In [6]:
print('AWS ELB Name: {X}'.format(X='abcd'))

AWS ELB Name: abcd

LIST

***LIST***

In [7]:
my_list = [1,2,3]

In [8]:
my_list

[1, 2, 3]

In [9]:
len(s)

5

In [10]:
len(my_list)

3

In [11]:
s[0]

'h'

In [15]:
my_list[2]

3

In [16]:
l = [1,2,3]

In [18]:
len(l)

3

In [19]:
l.append(3)

In [20]:
l

[1, 2, 3, 3]

In [21]:
l.remove(3)

In [22]:
l

[1, 2, 3]

In [24]:
l.count(3)

1

In [25]:
d = {}

In [26]:
d

{}

In [27]:
d['name'] = 'Samy'

In [28]:
d

{'name': 'Samy'}

In [29]:
d['age'] = 23

In [30]:
d

{'age': 23, 'name': 'Samy'}

In [31]:
d.keys()

['age', 'name']

In [32]:
d.copy()

{'age': 23, 'name': 'Samy'}

In [34]:
d['name'].upper()

'SAMY'

In [36]:
str(d['age']).upper()

'23'

In [37]:
len(d)

2

In [38]:
d

{'age': 23, 'name': 'Samy'}

In [40]:
d['name']

'Samy'

In [42]:
f = open('test.txt')

In [43]:
f.read()

'Hello from my mac\n'

In [44]:
f.read()

''

In [45]:
f.readline()

''

In [46]:
f.seek(0)

In [47]:
f.readlines()

['Hello from my mac\n']

In [48]:
%%writefile new.txt
Fisrt line
2nd line

Writing new.txt

In [50]:
for line in open('new.txt'):
    print(line)

Fisrt line

2nd line

In [51]:
d = {'name':'docky'}

In [52]:
d

{'name': 'docky'}

In [53]:
d['age'] = 24

In [54]:
d

{'age': 24, 'name': 'docky'}

In [55]:
d['name'] = 'samy'

In [56]:
d

{'age': 24, 'name': 'samy'}

In [57]:
x = set()

In [58]:
x

set()

In [61]:
x.add(1)

In [62]:
x

{1}

In [63]:
x.add(1)

In [64]:
x

{1}

In [65]:
#boolean

In [67]:
a = True

In [68]:
a

True

In [72]:
a = 'sam'
b = 'dockey'
if a == b:
    print('we matched')
else:
    print('Not matched')

Not matched

In [73]:
l = {1,2,3,4,5,6}

In [74]:
l

{1, 2, 3, 4, 5, 6}

In [94]:
i = 1
for num in l:
    print('------------------------------------')
    print('Number {Y}> {X}'.format(X=num, Y=i))
    i += 1
print('------------------------------------')

------------------------------------
Number 1> 1
------------------------------------
Number 2> 2
------------------------------------
Number 3> 3
------------------------------------
Number 4> 4
------------------------------------
Number 5> 5
------------------------------------
Number 6> 6
------------------------------------

In [95]:
for num in l:
    if num % 2 == 0:
        print('{X} --> even'.format(X=num))
    else:
        print('{X} --> Odd'.format(X=num))

1 --> Odd
2 --> even
3 --> Odd
4 --> even
5 --> Odd
6 --> even

In [98]:
sum = 0
for num in l:
    sum = sum + num
print('Total Sum: {X}'.format(X=sum))

Total Sum: 21

In [108]:
l = [2,2]

In [111]:
sum = 0
for num in l:
    sum += num
print('Total Sum: {X}'.format(X=sum))

Total Sum: 4

In [112]:
l

[2, 2]

In [123]:
s = 'I have a good book'
for item in s:
    if item == item:
        print('My Count: {X}'.format(X=s.count('o')))
        break

My Count: 4

In [122]:
s.count('o')

4

In [124]:
d

{'age': 24, 'name': 'samy'}

In [125]:
d.iteritems()

In [126]:
for k,v in d.iteritems():
    print('Key: {X}, Value: {Y}'.format(X=k, Y=v))

Key: age, Value: 24
Key: name, Value: samy

In [9]:
my_list = ['apple', 'samsung', 'htc', 'LG', 'apple', 'Apple']

In [10]:
my_list

['apple', 'samsung', 'htc', 'LG', 'apple', 'Apple']

In [11]:
for item in my_list:
    print(item.upper())

APPLE
SAMSUNG
HTC
LG
APPLE
APPLE

In [13]:
not_choice = 0
our_choice = 0
for item in my_list:
    if item.upper() == 'APPLE':
        our_choice += 1
    else:
        not_choice += 1
if not_choice >= 1:
    print('Unwanted choices: {Y}'.format(Y=not_choice))
print('Wanted choice: {C}'.format(C=our_choice))

Unwanted choices: 3
Wanted choice: 3

In [19]:
target = 0
while target <= 10:
    print('target now is {X}'.format(X=target))
    target += 1
    if target == 5:
        break

target now is 0
target now is 1
target now is 2
target now is 3
target now is 4

In [14]:
def is_prime(num1,num2):
    my_list = []
    """
    This is test dockstring
    
    """
    if num1 < num2:
        for item in range(num1,num2):
            if item % 2 == 0 and item != 0:
                my_list.append(item)
    else:
        print('Arg1 should be less than Arg2')
        
                
    print('---------------------------------------------------------------')
    print('   List of Even Numbers within range provided: {X}-{Y}'.format(X=num1,Y=num2))
    print('---------------------------------------------------------------')

    for item in my_list:
        if len(my_list) <= 0:
            print('NA')
        else:
            print(item)

In [15]:
is_prime(4,10)

---------------------------------------------------------------
   List of Even Numbers within range provided: 4-10
---------------------------------------------------------------
4
6
8

In [17]:
is_prime(100,0)

Arg1 should be less than Arg2
---------------------------------------------------------------
   List of Even Numbers within range provided: 100-0
---------------------------------------------------------------

In [6]:
l = []

In [7]:
len(l)

0

In [18]:
l

[]

In [20]:
reverse_string = lambda arg1: arg1[::-1]

In [22]:
reverse_string('hello')

'olleh'

In [23]:
reverse_string('this is mango')

'ognam si siht'

In [24]:
greeting = lambda name: 'hello! {X}'.format(X=name)

In [25]:
greeting('samy')

'hello! samy'

In [2]:
d = {'k1:v1', 'k2:v2'}

In [3]:
d

{'k1:v1', 'k2:v2'}

In [9]:
d.add('bratva')

In [10]:
d

{'bratva', 'k1:v1', 'k2:v2'}

In [11]:
type(d)

set

In [12]:
d = {'k1': 'v1', 'k2':'v2'}

In [13]:
type(d)

dict

In [14]:
d.keys()

['k2', 'k1']

In [15]:
d.values()

['v2', 'v1']

In [16]:
for item in d:
    print(item)

k2
k1

In [22]:
for item in d:
    print(item)

k2
k1

In [23]:
d.values()

['v2', 'v1']

In [24]:
d.iteritems()

In [25]:
for item in d.iterkeys():
    print(item)

k2
k1

In [26]:
for item in d.values():
    print(item)

v2
v1

In [28]:
d.get('k1')

'v1'

In [29]:
for item_keys in d.keys():
    print('Key: {X} and Value: {Y}'.format(Y=d.get(item_keys), X=item_keys))

Key: k2 and Value: v2
Key: k1 and Value: v1

In [30]:
class Sample(object):
    pass

In [31]:
x = Sample()

In [32]:
type(x)

__main__.Sample

In [33]:
class Fruit(object):
    
    #Object Class atrribute
    species = 'Plant'
    
    def __init__(self,name,color):
        self.name = name
        self.color = color

In [35]:
org = Fruit(name = 'Orange', color = 'Orange')

In [36]:
org.color

'Orange'

In [37]:
org.name

'Orange'

In [38]:
org.species

'Plant'

In [45]:
def say_my_name(name):
    print('Hello!, {X}'.format(X=name))
    return name

In [46]:
say_my_name('abcd')

Hello!, abcd

'abcd'

In [47]:
a = say_my_name('abcd')

Hello!, abcd

In [48]:
a

'abcd'

In [49]:
def add_up(val1,val2):
    return val1+val2

In [51]:
add_up("good"," baby")

'good baby'

In [77]:
def manipulate_string(my_string):
    l_list = []
    for item in my_string:
        #print(item)
        l_list.append(item)
    print('See what have done: {X}'.format(X=l_list))
    return l_list

In [78]:
manipulate_string('abcd')

See what have done: ['a', 'b', 'c', 'd']

['a', 'b', 'c', 'd']

In [79]:
l = manipulate_string('abcd')

See what have done: ['a', 'b', 'c', 'd']

In [80]:
l

['a', 'b', 'c', 'd']

In [81]:
a = 'abcd'

In [82]:
type(a)

str

In [1]:
s = 'abcd'

In [2]:
s

'abcd'

In [4]:
str(s)

'abcd'

In [5]:
r = 2

In [6]:
pi = 3.14

In [7]:
2 * pi * r

12.56

In [9]:
pi * (r**2)

12.56

In [10]:
r = 2

In [11]:
int(r)

2